<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.day15">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".map.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SelCourseActivity"></activity>
        <activity android:name=".ui.RlvActivity" />
        <activity android:name=".ui.iv_activity.IvActivity" />
        <activity android:name=".ui.tab_activity.AnsweringActivity" />
        <activity android:name=".ui.tab_activity.WelfareActivity" />
        <activity android:name=".ui.tab_activity.LiveActivity" />
        <activity android:name=".ui.tab_activity.CourseActivity" />
        <activity android:name=".ui.toolbar_activity.LoginActivity" />
        <activity android:name=".ui.toolbar_activity.FindActivity" />
        <activity android:name=".ui.toolbar_activity.ServicesActivity" />
        <activity android:name=".ui.ShowActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>